.footer {
  background: #333333;
  color: #CCCCCC;
  padding: 30px 0;
  /*margin-bottom: 40px;*/
}

.icons a .fa {
  font-size: 30px;
  padding: 10px 30px 0 0;
  color: #CCCCCC;
  transition: 0.6s ease;
}
.icons .fa:hover {
  color: yellow;

}

.footer p {
  margin-top: 17px;
}


